{% extends 'homepageapp/base_2.html' %}
{% load static %}
{% load tz %}

{% block content %}

<style>
.notices {
    font-size: 20px;
    color:dimgrey;}
</style>

    <div class="container-fluid page-header">
    <div class="container">

    <div style="background:#e6e6fa !important" class="jumbotron text-center">
    <h1 style="color:dimgrey; font-family: Lucida Handwriting, cursive;">Noticeboard</h1>
    <p style="font-size:250%; color:dimgrey;">{{ today }}</p>
    <p style="font-size:200%; color:dimgrey;">{{ current_day }}<p>
    </div>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
    <p class="notices">Title:</p>
    <input type="text" name="title" placeholder="Add new notice title">
    <br>
    <br>
    <p class="notices">Notice:</p>
    <textarea name="notice" placeholder="Add new notice" rows="5" cols="50"></textarea>
    <br>
    <br>
    <p><a href="{% url 'noticeboardapp:noticeboard-view' %}"><button type="submit" class="btn btn-info">Submit</button></a></p>
    <a href="{% url 'noticeboardapp:noticeboard-view' %}"><button type="button" class="btn btn-info">Back</button></a>

</form>

        </div>
    </div>

{% endblock %}