{% extends 'homepageapp/base_2.html' %}
{% load static %}
{% load tz %}

{% block content %}
<div class="container-fluid page-header">
<div class="container">

    <div style="background:#e6e6fa !important" class="jumbotron text-center">
    <h1 style="color:dimgrey; font-family: Lucida Handwriting, cursive;">Reminder on your events</h1>
    <p style="font-size:250%; color:dimgrey;">{{ today }}</p>
    <p style="font-size:200%; color:dimgrey;">{{ current_day }}<p>
    </div>


    <h3 style="color:dimgrey;">Do you want to delete this event: {{ event.event_name }}?</h3>
    <br>

  <form method="POST">{% csrf_token %}
    <p><input type="submit" value="Confirm" class="btn btn-info">
  </form>
  <a href="{% url 'reminderapp:all-events-view' %}"><button class="btn btn-info">Back</button></a></p>

</div>
</div>


{% endblock %}